# 파이썬 pandas 기초 2

* 싸이그래머 : 생물심리Py
* 작성자 : 김무성

# 차례

* 기초
* 응용

## 기초 [1]

* pandas 기초 2
  - (pandas groupby) 문제 1. DataFrame의 GroupBy 연산 (1)
  - (pandas groupby) 문제 1. DataFrame의 GroupBy 연산 (2)

### pandas 기초 2

#### (pandas groupby) 문제 1. DataFrame의 GroupBy 연산 (1)

#####  아래 코드로 만들어진 DataFrame 자료형 df가 있다.

In [1]:
import numpy as np
import pandas as pd

In [8]:
a = np.random.standard_normal((9, 4))
df = pd.DataFrame(a)
df.columns = [['No1', 'No2', 'No3', 'No4']]
dates = pd.date_range('2015-1-1', periods=9, freq='M')
df.index = dates
df['Quarter'] = ['Q1', 'Q1', 'Q1', 'Q2', 'Q2', 'Q2', 'Q3', 'Q3', 'Q3']
df

                 No1       No2       No3       No4 Quarter
2015-01-31 -1.044786 -0.550579  0.782547  1.698578      Q1
2015-02-28 -0.018285 -0.125141  0.383689 -0.968214      Q1
2015-03-31  2.103675 -1.336472  1.161989 -1.477480      Q1
2015-04-30 -0.440311 -0.983961  0.334371 -0.857697      Q2
2015-05-31 -0.594368  0.693181 -0.092998  0.769309      Q2
2015-06-30 -0.335726 -0.397243  1.780188 -0.593021      Q2
2015-07-31 -1.013463 -1.200899  0.677641  0.854850      Q3
2015-08-31 -0.098204 -0.464421  1.725880 -1.118988      Q3
2015-09-30 -1.206143 -1.060707 -0.135560  0.085676      Q3

##### a) 쿼터(Quater)별, 각 컬럼들의 평균을 구하시오

In [ ]:
# input yuour code

##### b) 쿼터(Quater)별, 각 컬럼의 최대값을 구하시오

In [ ]:
# input yuour code

#### (pandas groupby) 문제 2. DataFrame의 GroupBy 연산 (2)

#### a) 문제 1에서 자료의 date는 홀수거나 짝수요일로 구분할 수 있다. 이를 구분하는 칼럼을 추가하시오 (칼럼명은 Odd_Even, 범주는 date가 홀수면 Odd, 짝수면 Even으로)

In [ ]:
# input yuour code

##### b) a로부터 나온 결과에서, (Quater 와 Odd_Even)별  자료가 몇개씩인지 구하시오. 예) Q1이면서 Even인 자료. Q2면서 Odd인 자료의 수.

In [ ]:
# input yuour code

##### c) a로부터 나온 결과에서, 각 컬럼에 대해 (Quater 와 Odd_Even)별  평균이 얼마인지 구하시오. 예) Q1이면서 Even인 No1 값들의 평균

In [ ]:
# input yuour code

## 응용 [2]

* 응용문제  - pandas를 이용한 버거킹 데이터 분석

### 응용문제  - pandas를 이용한 버거킹 데이터 분석

* 전국의 버거킹 매장에 대해, 지역별(시군구단위까지)로 24시간 하는 곳(AllHour)의 점포수를 구하라

In [ ]:
# input yuour code

## 참고자료 

 * [1] Python for Finance - http://shop.oreilly.com/product/0636920032441.do
 * [2] "버거 지수"는 진짜 도시의 발전 수준을 반영할까? - http://nbviewer.ipython.org/gist/hyeshik/cf9f3d7686e07eedbfda?revision=6