# 파이썬 pandas 기초 연습문제

* 싸이그래머 : 생물심리Py
* 작성자 : 김무성

# 차례

* 기초
* 응용

## 기초 [1, 2, 3]

* numpy 기초
  - (numpy 기본) 문제 1. ndarray 다루기 (1)
  - (numpy 기본) 문제 2. ndarray 다루기 (2)
  - (numpy 선형대수) 문제 3. 선형방정식 풀기(해 구하기)
* pandas 기초
  - (pandas 기본) 문제 1. DataFrame 다루기 (1)
  - (pandas 기본) 문제 2. DataFrame 다루기 (2)

###  numpy 기초

#### (numpy 기본) 문제 1. ndarray 다루기 (1

##### 다음의 데이터를 사용하시오

In [1]:
2 3 5 6 7 10

##### a) 데이터 벡터 x를 만드시오

In [ ]:
# input yuour code

##### b) 각 데이터의 제곱으로 구성된 벡터 x2를 만드시오

In [ ]:
# input yuour code

##### c) 각 데이터의 제곱의 합을 구하시오

In [ ]:
# input yuour code

##### d) 각 데이터에서 2를 뺀 값을 구하시오

In [ ]:
# input yuour code

##### e) 최대값과 최소값을 구하시오

In [ ]:
# input yuour code

##### f) 5보다 큰 값들로만 구성된 데이터 벡터 x_up을 만드시오

In [ ]:
# input yuour code

##### g) 벡터 x의 길이를 구하시오

In [ ]:
# input yuour code

##### h) x'x를 구하시오 (x'는 x의 전치)

In [ ]:
# input yuour code

##### i) xx'를 구하시오

In [ ]:
# input yuour code

##### j) 벡터 x와 x2를 열결합(column bind)하여 xc에 저장하시오

In [ ]:
# input yuour code

##### k) 벡터 x와 x2를 행결합(row bind)하여 xr에 저장하시오

In [ ]:
# input yuour code

#### (numpy 기본) 문제 2. ndarray 다루기 (2)

##### a ) 표준정규분포를 따르는 난수 100개를 가진 배열 x를 만드시오

In [ ]:
# input yuour code

##### b) x에서 값이 0.2 보다 큰 원소들을 골라내시오

In [ ]:
# input yuour code

#### (numpy 선형대수) 문제 3. 선형방정식 풀기(해 구하기)

##### 다음과 같은 방정식이 있다.

In [3]:
3x + 6y - 5z = 12
x - 3y + 2z = -2
5x - y + 4z = 10

##### a) 위 식을 numpy를 이용해서 Ax=B 형태로 나타내시오 (A와 B만 생성)

In [ ]:
# input yuour code

##### b) A의 역행렬을 구하시오

In [ ]:
# input yuour code

##### c) 방정식의 해 벡터 x를 구하시오

In [ ]:
# input yuour code

### pandas 기초

#### (pandas 기본) 문제 1. DataFrame 다루기 (1)

   | numbers |
----- | ------ 
a  | 10 
b  | 20 
c  | 30 
d  | 40

##### a) DataFrame으로 위와 같은 자료를 만드시오. 컬럼 이름은 numbers, 로우 네임은 a~e, 값은 10~40

In [ ]:
# input yuour code

##### b) c 로우의 값을 가져오시오.

In [ ]:
# input yuour code

##### c) a, d 로우들의 값을 가져오시오.

In [ ]:
# input yuour code

##### d) numbers의 합을 구하시오.

In [ ]:
# input yuour code

##### e) numbers의 값들을 각각 제곱하시오 (vectorized operations 표헌으로 예] 2*v )

###### 이런 결과가 나와야 함.

  | numbers |
----- | ------ 
a  | 100 
b  | 400 
c  | 900 
d  | 1600

In [ ]:
# input yuour code

##### f) numbers의 값들을 각각 제곱하시오(apply 메서드 사용해서)

In [ ]:
# input yuour code

##### f) numbers의 값들을 각각 제곱하시오(apply 메서드에, 람다 함수도 사용해서)

In [ ]:
# input yuour code

##### g) floats라는 이름의 칼럼을 추가하시오. 값은 1.5, 2.5, 3.5, 4.5

###### 이런 결과가 나와야 함.

| numbers | floats
----- | ------ | ------
a  | 10 | 1.5
b  | 20 | 2.5
c  | 30 | 3.5
d  | 40 | 4.5

In [ ]:
# input yuour code

##### h) names라는 이름의 다음과 같은 칼럼을 위의 결과에 또 추가하시오.

 | names | 
 ----- | ------
 d  | Guido 
 a  | Felix
 b  | Francesc
 c  | Yves

In [ ]:
# input yuour code

##### i) 다음과 같은 정보를 가지는 로우(행)를 위의 결과에 추가하시오

In [ ]:
index:z, numbers: 100, floats: 5.75, names: Henry

In [ ]:
# input yuour code

##### j) squares 라는 이름의 칼럼을 위의 결과에 추가하시오. 그런데 squares는 인덱스값이 짝이 맞지 않으므로 join 메서드를 사용하시오(기본옵션으로)

  | squares |
----- | ------ 
a  | 1
b  | 4
c  | 9
d  | 16
y  | 25

In [ ]:
# input yuour code

##### k) j와 동일하나 join 메서드의 옵션을 'outer'로 바꿔서 수행해보시오.

In [ ]:
# input yuour code

##### l) 위의 결과로 나온 자료에서 numbers 칼럼과 squares 칼럼에 대해, 각각 평균을 구하시오. 다음과 같은 결과가 나와야 함. (mean 메서드 사용, column-wise 계산)

In [ ]:
numbers 40
squares 11

In [ ]:
# input yuour code

##### m) numbers와 squares 칼럼에 대해, 각각 표준편차를 구하시오 (std 메서드 사용, column-wise 계산)

In [ ]:
# input yuour code

#### (pandas 기본) 문제 2. DataFrame 다루기 (2)

##### a) 표준정규분포를 따르는 9 X 4 형태의 DataFrame을 생성하시오

In [ ]:
# input yuour code

##### b) a에서 생성한 DataFrame의 칼럼 이름을 - No1, No2, No2, No4로 지정하시오

In [ ]:
# input yuour code

##### e) 위에서 생성된 자료에, 시간 관련 인덱싱을 하기 위해서는 DataTime 자료형을 생성해서 로우 인덱스에 넣어주는 방법이 있다.  아래코드를 실행하시오

In [ ]:
# import pandas as pd 라는 가정하에.
dates = pd.date_range(‘2015-1-1’, periods=9, freq=‘M’)
df.index = dates # a와 b를 거쳐서 만들어진 DataFrame 인스턴스의 변수명이 df라고 가정.
df

In [ ]:
# input yuour code

##### f) 각 컬럼의 평균을 구하시오

In [ ]:
# input yuour code

##### f) 5월부터 7월까지의, 각 컬럼의 평균을 구하시오

In [ ]:
# input yuour code

## 응용

* 응용문제 1 - pandas의 DataFrame을 이용한 엑셀파일 분석
* 응용문제 2 - pandas의 DataFrame을 이용한 주식 데이터 분석 [3]

### 응용문제 1 - pandas의 DataFrame을 이용한 엑셀파일 분석

* person.xls 파일을 pandas로 읽어서 DataFrame 자료로 받는다.
* (힌트, 엑셀에서 열어서 csv 포맷으로 바꾸면 훨씬 쉬워진다)

##### 1) score의 평균을 구하기

In [ ]:
# input yuour code

##### 2) 남,녀별 score 평균 구하기

In [ ]:
# input yuour code

##### 3) 각 email의 값은 비워져있다. 채워넣어보자. 이메일은 '아이디@회사이름.com' 규칙을 따른다. 예를들어 id가 user1이고 회사가 naver이면 그 사람의 email은 user1@naver.com 이다.

In [ ]:
# input yuour code

### 응용문제 2 - pandas의 DataFrame을 이용한 주식 데이터 분석

##### 야후 파이낸스 API를 이용해서 특정 주식의 정보를 받아오는 코드는 아래와 같다.

In [5]:
import pandas as pd
import pandas.io.data as web

DAX = web.DataReader(name='^GDAXI', data_source='yahoo', start='2000-1-1')
DAX.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3873 entries, 2000-01-03 00:00:00 to 2015-03-12 00:00:00
Data columns (total 6 columns):
Open         3873 non-null float64
High         3873 non-null float64
Low          3873 non-null float64
Close        3873 non-null float64
Volume       3873 non-null int64
Adj Close    3873 non-null float64
dtypes: float64(5), int64(1)
memory usage: 211.8 KB

In [7]:
DAX.head()

               Open     High      Low    Close  Volume  Adj Close
Date
2000-01-03  6961.72  7159.33  6720.87  6750.76       0    6750.76
2000-01-04  6747.24  6755.36  6510.46  6586.95       0    6586.95
2000-01-05  6585.85  6585.85  6388.91  6502.07       0    6502.07
2000-01-06  6501.45  6539.31  6402.63  6474.92       0    6474.92
2000-01-07  6489.94  6791.53  6470.14  6780.96       0    6780.96

In [6]:
DAX.tail()

                Open      High       Low     Close     Volume  Adj Close
Date
2015-03-06  11513.89  11600.37  11495.20  11550.97          0   11550.97
2015-03-09  11510.35  11586.94  11461.86  11582.11          0   11582.11
2015-03-10  11555.97  11577.75  11402.67  11500.38          0   11500.38
2015-03-11  11531.55  11822.53  11531.55  11805.99          0   11805.99
2015-03-12  11795.91  11830.14  11754.90  11799.39  116256000   11799.39

##### a) 위의 코드를 실행해서 값을 가져오시오

In [ ]:
# input yuour code

##### b) High와 Low의 차이를 계산해서 Diff라는 이름의 칼럼을 만들어 그 결과를 반영하시오.

In [ ]:
# input yuour code

##### c) 2015년의 Open, High, Low, Close의 각 평균을 구하시오

In [ ]:
# input yuour code

## 참고자료 

 * [1] 데이터/수치 분석을 위한 파이썬 라이브러리 SciPy와 NumPy - http://www.hanbit.co.kr/ebook/look.html?isbn=9788968486135
 * [2] 파이썬 라이브러리를 활용한 데이터 분석 - http://www.hanbit.co.kr/book/look.html?isbn=978-89-6848-047-8
 * [3] Python for Finance - http://shop.oreilly.com/product/0636920032441.do